* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
  /* background-image: url("../images/motorbike.jpg"); */
  background-size: cover;
  color: white;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background-image: linear-gradient(to bottom right, orange, black, orange);
  color: white;
  font-family: 'Roboto', sans-serif;
  border-radius: 15px;
}

.header h1 {
  font-size: 50px;

}
.header p{
  font-size: 25px;
}

/* Centering  */

header{
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
}
#Sit_On_Motorcycle ol{
  font-family: 'Heebo', sans-serif;
  font-size: 14.7px;
  margin-right: 45px;
}

#Sit_On_Motorcycle{
  font-family: 'Libre Baskerville';
  /* font-weight: bold; */
  color: white;
  /* word-spacing: 0.75px; */
  padding: 10px;
}
textarea{
  border-radius: 5px;
}


#Lift_Kickstand{
font-family: 'Libre Baskerville';

}

#Turn_on_Ignition{
  font-family: 'Libre Baskerville';

}

#Press_Ignition_Button{
  font-family: 'Libre Baskerville';

}

#Drive_Motorcycle{
  font-family: 'Libre Baskerville';

}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  font-family: 'Castoro', serif;
}



/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px ;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: black;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 17px;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 20%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 75%;
  /* background-color: #f1f1f1; */
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: rgb(0, 0, 0, 0.35);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  margin-top: 20px;
  border-radius: 25px;
  font-size: 20px;
  color: white;
}

.footer a{
  color: white;
}
